---
import RightSidebar from '../layouts/RightSidebar.astro';
---
<main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
    <div class="flex w-full">
        <div class="flex-auto max-w-4xl min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
            <div class="pb-4 mb-8 border-b border-gray-200">
                <h1 class="inline-block mb-2 text-2xl font-extrabold tracking-tight text-gray-900" id="content">
                    Components
                </h1>
            </div>

            <div id="mainContent">
                <slot></slot>
            </div>
        </div>

        <RightSidebar></RightSidebar>
    </div>
</main>