<aside id="sidebar" class="fixed inset-0 z-20 flex-none hidden h-full w-72 lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:block" aria-labelledby="sidebar-label">
  <div id="navWrapper" class="overflow-y-auto z-20 h-full bg-gray-50 scrolling-touch max-w-2xs lg:h-[calc(100vh-3rem)] lg:block lg:sticky top-28 lg:mr-0">
    <nav id="nav" class="pt-16 px-1 pl-3 lg:pl-0 lg:pt-2 font-normal text-base lg:text-sm pb-10 lg:pb-20 sticky?lg:h-(screen-18)" aria-label="docs-navigation">
      <ul class="mb-0 list-unstyled flex items-center justify-center">
        <li class="mt-8">
          <h5 class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs">
            Getting started
          </h5>
          <ul class="py-1 list-unstyled fw-normal small">
            <li>
              <a href="/docs/intro" class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 text-blue-700 hover:text-blue-700" aria-current="page">
                Introduction
              </a>
            </li>
            <li>
              <a href="/docs/intallation.html" class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500">
                Installation
              </a>
            </li>
            <li>
              <a href="/docs/license.html" class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500">
                License
              </a>
            </li>
            <li>
              <a href="/docs/changelog.html" class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500">
                Changelog
              </a>
            </li>
            <li class="mt-8">
              <h5 class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs">
                Components
              </h5>
              <ul class="py-1 list-unstyled fw-normal small">
                <li>
                  <a href="#" class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500">
                    Alerts
                    <span class="font-medium text-xs leading-5 rounded-md text-blue-700 bg-blue-400/10 px-2 py-0.5 uppercase">NEW</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>