<div class="flex-none hidden w-64 pl-8 mr-8 xl:text-sm xl:block">
    <div class="flex overflow-y-auto sticky top-28 flex-col justify-between pt-10 pb-6 h-[calc(100vh-5rem)]">
        <div class="mb-8">
            <h4 class="pl-2.5 mb-4 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs">
                On this page
            </h4>
            <nav id="TableOfContents">
                <ul>
                    <li class="mb-4">
                        <a class="text-blue-700 border-l border-l-blue-700 pl-2.5" href="#accordian">Accordian</a>
                    </li>
                    <li class="mb-4">
                        <a class="hover:text-gray-900 hover:border-l hover:border-l-gray-400 pl-2.5" href="#alerts">Alerts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>